<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Developers</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 </head>
    <body>
            <div className="main">
        <particles  [params]="myParams" [style]="myStyle"></particles>
           <div class="title"> <h1 class="headingi">Developers</h1> </div>
        
            <div class="cont1">
            
        <div class="priyesh">
            <img class="img" [src]="(featuredPhotoStream | async)?.url2" alt="priyesh pic" width="300px" height="320px" >
            <div class="center">Priyesh Rathore 
            <div class="text1">MEAN Stack Developer </div>
            </div>
           <div class="overlay">
                   <div class="text">
                       <a href="https://www.facebook.com/priyesh.rathore.98" target="_blank" class="fa fa-facebook-square" style="font-size:50px"></a>
                       <a href="https://www.linkedin.com/in/priyesh-rathore-08679917b/" target="_blank" class="fa fa-linkedin-square" style="font-size:50px"></a>
                      <a href="https://github.com/priyesh2206" class="fa fa-github-square" target="_blank" style="font-size:50px"></a>
                   </div>
            </div>
        </div>
        <div class="priyesh">
            <img class="img" [src]="(featuredPhotoStream | async)?.url4" alt="prashant pic" width="300px" height="320px" >
            <div class="center">Prashant Singh
              <div class="text1">MEAN Stack Developer </div>
            </div>
            <div class="overlay">
                    <div class="text">
                            <a href="" target="_blank"  class="fa fa-facebook-square" style="font-size:50px"></a>
                            <a href="" target="_blank"  class="fa fa-linkedin-square" style="font-size:50px"></a>
                            <a href="" target="_blank"  class="fa fa-github-square" style="font-size:50px"></a>
                    </div>
            </div>
        </div>
        <div class="priyesh">
                <img class="img" [src]="(featuredPhotoStream | async)?.url3" alt="abhay pic" width="300px" height="320px" >
                <div class="center">Abhay Sahu
                <div class="text1">MEAN Stack Developer</div>
                </div>
                <div class="overlay">
                        <div class="text">
                                <a href="https://www.facebook.com/abhay.sahu.528" target="_blank" class="fa fa-facebook-square" style="font-size:50px"></a>
                                <a href="https://www.linkedin.com/in/abhay-sahu-4ab3ba183/" target="_blank" class="fa fa-linkedin-square" style="font-size:50px"></a>
                                <a href="https://github.com/abhaysahu" target="_blank" class="fa fa-github-square" style="font-size:50px"></a>
                        </div>
                </div>
            </div>
            </div>
            </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </body>
    </html>