p {
    font-family: courier;
    color: aliceblue;

}

h1 {   
    
    color:black;
    text-align: center;
    font-family:  cursive;
    font-size: 100px;
    position: relative;
    margin-top: 10px;

}

.priyesh {
        position: relative;
        
        margin-top: 50px;
        
        
        
         }

.center {
        position: absolute;
        bottom:0;
        top:250px;
        left: 200px;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight:700;
        color:black;
        text-align: center;
        font-family: cursive;
    }

.text1 {    
        position: absolute;
        font-size: 16px;
        font-family: cursive;
        text-align: center;
        font-weight: 550;
        margin-right: 10px;
        margin-left: 25px;
    
       
   }

.img {
    border-radius: 50px;
    display: block;
    opacity: 0.7;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px black solid;


 }

.overlay {
        position: absolute;
        bottom: 100%;
        left: 52px;
        right: 0;
        background-color:white;
        overflow: hidden;
        width: 300px;
        height:0;
        border-radius: 50px;
        transition: .5s ease;
        opacity: 0.7;
     }

.text {
        white-space: nowrap; 
        color:black;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
.priyesh:hover .overlay {
                        bottom: 0;
                        height: 100%;
                    }

.cont1 {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
   }

body {
    font:normal 75% Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    width:119%;
    margin-left: -9%;
 }

 #particlecheck{
     border: 2px red dashed;
 }

.main{
    text-align: center;
    display: block;
}
.title{
    margin-top: -2%;
    width: 100%;

    
}
.headingi{
    word-break: break-all;
}