<div class="row">
  <div class="col-2" > 
      <product-filter [category]="category"></product-filter>
  </div>
  <div class="col">
        <p>
                <input
                  [(ngModel)]="searchTerm"
                  type="text" class="form-control" placeholder="Search...">
              </p>
    <div class="row">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
            <div class="col">
                <product-card [product]="p" [shopping-cart]="cart"></product-card>
            </div>
            <div *ngIf="(i + 1) % 3===0" class="w-100"></div>
        </ng-container>  
      </div>
</div>
</div>


